extends layout

block content
	if SuccessMessage
		.alert.alert-success.alert-dismissible
			a.close(data-dismiss='alert' aria-label='close')
			| !{SuccessMessage}
	if ErrorMessage
		.alert.alert-warning(style='text-align: left')
			b There was an error
			ul(style='margin-bottom: 0')
				each val in ErrorMessage
					li !{val.param}, !{val.msg}
	h1 Your categories
	table.table
		thead
			tr.row
				th.col-sm-10 Name
				th.col-sm-2 Option
		tbody
			if UserCategories.lenght = 0
				tr.row
					td.col-12(colspan='2') No categories to display
			else
				each item in UserCategories
					tr.row
						td.col-sm-10 !{item.name}
						td.col-sm-2
							| [
							a(href=`/category/edit/${item.id}`) Edit
							| ] [
							a(href=`/category/delete/${item.id}`) Delete
							| ]
	br
	button.btn.btn-primary.float-right(type='button', data-toggle='modal', data-target='#CreateCategory')
		| New category
	#CreateCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mainLabel', aria-hidden='true')
		.modal-dialog(role='document')
			form(method='POST' action='/category')
				.modal-content
					.modal-header
						h5#mainLabel.modal-title Create a new Category
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						.form-group
							label(for='newCategory') New category name
							input#newcat.form-control(type='text', name='CategoryName', placeholder='New category name')
					.modal-footer
						button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
						button.btn.btn-primary(type='submit') Create
	script(type='text/javascript').
		$('#CreateCategory')
			.on('shown.bs.modal', function()
			{
				$('#newcat').trigger('focus')
			})