extends layout

block content
	if SuccessMessage
		.alert.alert-success.alert-dismissible
			a.close(data-dismiss='alert' aria-label='close')
			| !{SuccessMessage}
	if ErrorMessage
		.alert.alert-warning(style='text-align: left')
			b There was an error
			ul(style='margin-bottom: 0')
				each val in ErrorMessage
					li !{val.param}, !{val.msg}
	h1 Your categories
	table.table
		thead
			tr.row
				th.col-sm-10 Name
				th.col-sm-2 Option
		tbody
			if UserCategories.length == 0
				tr.row
					td.col-12(colspan='2') No categories to display
			else
				each item in UserCategories
					tr.row
						td.col-sm-10 !{item.name}
						td.col-sm-2
							button.btn.btn-outline-primary(type='button', data-toggle='modal', data-target='#EditModal', data-catid=`${item.id}`, data-catname=`${item.name}`) Edit
							| &nbsp;
							a.btn.btn-outline-danger(href=`/category/delete/${item.id}`) Delete
	br
	button.btn.btn-primary.float-right(type='button', data-toggle='modal', data-target='#CreateCategory')
		| New category
	#CreateCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mainLabel', aria-hidden='true')
		.modal-dialog(role='document')
			form(method='POST' action='/category')
				.modal-content
					.modal-header
						h5#mainLabel.modal-title Create a new Category
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						.form-group
							label(for='newCategory') New category name
							input#newcat.form-control(type='text', name='CategoryName', placeholder='Enter a category name', autofocus)
					.modal-footer
						button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
						button.btn.btn-primary(type='submit') Create
	#EditModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			form#editCat(method='post')
				.modal-content
					.modal-header
						h5#editModalLabel.modal-title Edit Category
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
							.form-group
								label.col-form-label(for='CategoryName') Category-Name:
								input#CategoryName.form-control(type='text', name='newCatName' autofocus)
					.modal-footer
						button.btn.btn-secondary(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='submit', name='edit') Save
	script(type='text/javascript').
		$('#CreateCategory')
			.on('shown.bs.modal', function()
			{
				$('#newcat').trigger('focus');
			})
		$('#EditModal')
			.on('show.bs.modal', function (event)
			{
				let button = $(event.relatedTarget);
				let recipient = button.data('catname');
				let categoryid = button.data('catid');
				// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
				// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
				let modal = $(this);
				$('#editCat').attr('action', `/category/edit/${categoryid}`);
				modal.find('.modal-body input').val(recipient);
			})